name: deploy_s3

on:
  push:
    branches: [ "main" ]

env:
  python_version: "3.10"

jobs:
  build_job:
    runs-on: ubuntu-latest

    permissions:
      id-token: write    # Required for OIDC authentication
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python_version }}

      - name: Install dependencies
        run: |
          pip install -r requirements.txt || true
          pip install pytest

      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings --no-header || true

      - name: Build Docker Image
        run: docker build -t takoumenecarel-gh/portcicd .

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::351554785424:role/OIDC-ROLE
          role-session-name: github-actions-session
          aws-region: us-east-1

      - name: Sync to S3
        run: |
          aws s3 sync . s3://deploy-s3.stepin.ink \
            --delete \
            --exclude ".git/*" \
            --exclude ".github/*"
